body, html {
    margin: 0;
}

.header {
    margin: 7px;
    display: flex;
    gap: 14px;
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 28px;
    color: white;
    text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}

#displayName {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
    font-size: 60px;
    margin: 0px;
    padding: 0px;
}

.welcome {
    position: relative;
    text-align: center;
    width: 100vw;
}